USE [master]
GO
/****** Object:  Database [LMS]    Script Date: 2024. 07. 21. 23:13:05 ******/
CREATE DATABASE [LMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LMS]
GO
/****** Object:  User [user]    Script Date: 2024. 07. 21. 23:13:06 ******/
CREATE USER [user] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[db_datareader]
GO
ALTER ROLE [db_datareader] ADD MEMBER [user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [user]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 2024. 07. 21. 23:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[PurchasePrice] [real] NULL,
	[DepreciationSpanYears] [real] NULL,
	[DailyUsageHours] [real] NULL,
	[Wattage] [int] NULL,
	[FixedCosts] [real] NULL,
	[Created] [datetime2](7) NULL,
	[Modified] [datetime2](7) NULL,
 CONSTRAINT [PK_Equipment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 2024. 07. 21. 23:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[UnitPerPackage] [int] NULL,
	[Unit] [nvarchar](50) NULL,
	[PackagePriceNet] [real] NULL,
	[Discount] [real] NULL,
	[UnitPriceNet] [real] NULL,
	[Created] [datetime2](7) NULL,
	[Modified] [datetime2](7) NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Measurements]    Script Date: 2024. 07. 21. 23:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measurements](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SampleId] [int] NOT NULL,
	[MethodId] [int] NOT NULL,
	[Result] [nvarchar](50) NULL,
	[MeasurementDate] [datetime2](7) NULL,
	[MeasuredByEmail] [nvarchar](50) NULL,
	[CostMaterial] [real] NULL,
	[CostInternal] [real] NULL,
	[CostExternal] [real] NULL,
	[Created] [datetime2](7) NULL,
 CONSTRAINT [PK_Measurements] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MethodRecipes]    Script Date: 2024. 07. 21. 23:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MethodRecipes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MeasurementId] [int] NOT NULL,
	[MeterialId] [int] NULL,
	[MaterialQty] [real] NULL,
	[EquipmentId] [int] NULL,
	[EquipmentUsage] [real] NULL,
	[WorkTechnician] [real] NULL,
	[WorkEngineer] [real] NULL,
	[Created] [datetime2](7) NULL,
	[Modified] [datetime2](7) NULL,
 CONSTRAINT [PK_MethodRecipes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Methods]    Script Date: 2024. 07. 21. 23:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Methods](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[ShortName] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[Method] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[CostMaterial] [real] NULL,
	[CostInternal] [real] NULL,
	[CostExternal] [real] NULL,
	[Created] [datetime2](7) NULL,
	[Modified] [datetime2](7) NULL,
 CONSTRAINT [PK_Methods] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 2024. 07. 21. 23:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ManagerEmail] [nvarchar](50) NULL,
	[GroupEmail] [nvarchar](50) NULL,
	[Company] [nvarchar](50) NULL,
	[SendEmailByDefault] [bit] NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 2024. 07. 21. 23:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[RequestorEmail] [nvarchar](50) NULL,
	[RequestorName] [nvarchar](50) NULL,
	[IsInternal] [bit] NULL,
	[SendEmail] [bit] NULL,
	[EmailNotify] [nvarchar](100) NULL,
	[IsDelivered] [bit] NULL,
	[TotalCost] [int] NULL,
	[Comments] [nvarchar](100) NULL,
	[Created] [datetime2](7) NULL,
	[ReportLink] [nvarchar](150) NULL,
	[Modified] [datetime2](7) NULL,
 CONSTRAINT [PK_Requests_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Samples]    Script Date: 2024. 07. 21. 23:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Samples](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[IsMeasured] [bit] NULL,
	[SampleDate] [datetime2](7) NULL,
	[SampleLocation] [nvarchar](50) NULL,
	[SampleSubLocation] [nvarchar](50) NULL,
	[SamplerName] [nvarchar](50) NULL,
	[Created] [datetime2](7) NULL,
 CONSTRAINT [PK_Samples] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Measurements] ON 

INSERT [dbo].[Measurements] ([ID], [SampleId], [MethodId], [Result], [MeasurementDate], [MeasuredByEmail], [CostMaterial], [CostInternal], [CostExternal], [Created]) VALUES (12, 5, 3, N'20', CAST(N'2024-07-21T00:00:00.0000000' AS DateTime2), N'somebody@mail.com', NULL, NULL, NULL, NULL)
INSERT [dbo].[Measurements] ([ID], [SampleId], [MethodId], [Result], [MeasurementDate], [MeasuredByEmail], [CostMaterial], [CostInternal], [CostExternal], [Created]) VALUES (13, 5, 5, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Measurements] OFF
GO
SET IDENTITY_INSERT [dbo].[Methods] ON 

INSERT [dbo].[Methods] ([ID], [FullName], [ShortName], [Category], [Method], [Description], [CostMaterial], [CostInternal], [CostExternal], [Created], [Modified]) VALUES (1, N'Measurement1', N'M1', N'C1', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Methods] ([ID], [FullName], [ShortName], [Category], [Method], [Description], [CostMaterial], [CostInternal], [CostExternal], [Created], [Modified]) VALUES (2, N'Measurement2', N'M2', N'C1', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Methods] ([ID], [FullName], [ShortName], [Category], [Method], [Description], [CostMaterial], [CostInternal], [CostExternal], [Created], [Modified]) VALUES (3, N'Measurement3', N'M3', N'C2', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Methods] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ID], [Name], [ManagerEmail], [GroupEmail], [Company], [SendEmailByDefault]) VALUES (1, N'new project         ', NULL, N'group@email.com               ', N'ACME      ', 1)
INSERT [dbo].[Projects] ([ID], [Name], [ManagerEmail], [GroupEmail], [Company], [SendEmailByDefault]) VALUES (6, N'API Project         ', NULL, NULL, N'API INC.  ', NULL)
INSERT [dbo].[Projects] ([ID], [Name], [ManagerEmail], [GroupEmail], [Company], [SendEmailByDefault]) VALUES (7, N'API Project 2       ', NULL, NULL, N'API INC.  ', NULL)
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[Requests] ON 

INSERT [dbo].[Requests] ([ID], [ProjectId], [Status], [RequestorEmail], [RequestorName], [IsInternal], [SendEmail], [EmailNotify], [IsDelivered], [TotalCost], [Comments], [Created], [ReportLink], [Modified]) VALUES (2015, 1, N'Completed', N'hegedusgabor23@gmail.com', NULL, NULL, NULL, N'', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Requests] ([ID], [ProjectId], [Status], [RequestorEmail], [RequestorName], [IsInternal], [SendEmail], [EmailNotify], [IsDelivered], [TotalCost], [Comments], [Created], [ReportLink], [Modified]) VALUES (2016, 1, N'Completed', N'hegedusgabor23@gmail.com', NULL, NULL, NULL, N'', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Requests] ([ID], [ProjectId], [Status], [RequestorEmail], [RequestorName], [IsInternal], [SendEmail], [EmailNotify], [IsDelivered], [TotalCost], [Comments], [Created], [ReportLink], [Modified]) VALUES (2017, 7, N'New', N'alfa.aladar@mail.com', NULL, NULL, NULL, N'', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Requests] OFF
GO
SET IDENTITY_INSERT [dbo].[Samples] ON 

INSERT [dbo].[Samples] ([ID], [RequestId], [Name], [IsMeasured], [SampleDate], [SampleLocation], [SampleSubLocation], [SamplerName], [Created]) VALUES (5, 2015, N'Nevetőgáz kondenzátum', NULL, CAST(N'2024-07-18T00:00:00.0000000' AS DateTime2), N'Pszichiátria', N'Zárt osztály', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Samples] OFF
GO
ALTER TABLE [dbo].[Measurements]  WITH CHECK ADD  CONSTRAINT [FK_Measurements_Methods] FOREIGN KEY([MethodId])
REFERENCES [dbo].[Methods] ([ID])
GO
ALTER TABLE [dbo].[Measurements] CHECK CONSTRAINT [FK_Measurements_Methods]
GO
ALTER TABLE [dbo].[Measurements]  WITH CHECK ADD  CONSTRAINT [FK_Measurements_Samples] FOREIGN KEY([SampleId])
REFERENCES [dbo].[Samples] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Measurements] CHECK CONSTRAINT [FK_Measurements_Samples]
GO
ALTER TABLE [dbo].[MethodRecipes]  WITH CHECK ADD  CONSTRAINT [FK_MethodRecipes_Equipment] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipment] ([ID])
GO
ALTER TABLE [dbo].[MethodRecipes] CHECK CONSTRAINT [FK_MethodRecipes_Equipment]
GO
ALTER TABLE [dbo].[MethodRecipes]  WITH CHECK ADD  CONSTRAINT [FK_MethodRecipes_Materials] FOREIGN KEY([MeterialId])
REFERENCES [dbo].[Materials] ([ID])
GO
ALTER TABLE [dbo].[MethodRecipes] CHECK CONSTRAINT [FK_MethodRecipes_Materials]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Projects] FOREIGN KEY([ID])
REFERENCES [dbo].[Projects] ([ID])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Projects]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ID])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Projects]
GO
ALTER TABLE [dbo].[Samples]  WITH CHECK ADD  CONSTRAINT [FK_Samples_Requests] FOREIGN KEY([RequestId])
REFERENCES [dbo].[Requests] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Samples] CHECK CONSTRAINT [FK_Samples_Requests]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Equipment'
GO
USE [master]
GO
