<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="res/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Vizsgálatok</h1>
    </header>

    <main>
        <div class="search-bar">
            <form action="">
                <div>
                    <input type="text" id="keyword" placeholder="Keresés projektek között">
                </div>
                
                <div class="switch">
                    <label for="cbx">Felirat</label>
                    <input type="checkbox" name="cbx" id="cbx">
                    <span class="slider round"></span>
                </div>
            </form>
        </div>
        <div class="container">
            <div class="measurement-card">
                <div>
                    <h2>Project name</h2>
                    <h3>2024.01.22</h3>
                </div>
                <div>
                    <p>LOC</p>
                    <p>DEL</p>
                    <p>OPN</p>
                </div>
            </div>
            <div class="measurement-card">
                <div>
                    <h2>Project name</h2>
                    <h3>2024.01.22</h3>
                </div>
                <div>
                    <p>LOC</p>
                    <p>DEL</p>
                    <p>OPN</p>
                </div>
            </div>
            <div class="measurement-card">
                <div>
                    <h2>Project name</h2>
                    <h3>2024.01.22</h3>
                </div>
                <div>
                    <p>LOC</p>
                    <p>DEL</p>
                    <p>OPN</p>
                </div>
            </div>
        </div>
    </main>

    <script src="app/functions.js"></script>
    <script src="app/script.js"></script>

</body>

</html>